@import url("https://fonts.googleapis.com/css?family=$font-family:300,400,700&subset=latin-ext");
// @import 'font-awesome.css';
@import './_variables.scss';

#container {
  font-family: $font-family;
  color: $text-black;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  background: #FAFAFA;

  a {
    text-decoration: none;
  }

  .card-icon {
    width: 43.89px;
    height: 55px;
    gap: 0px;
    opacity: 0px;
    color: $green;
  }
  
  .primary-title {
    font-family: $font-family;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $title-color;
  }

  .secondary-title {
    font-family: $font-family;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: center;
    color: $title-color;
  }
}
